<!DOCTYPE html>
<html lang="en">
<%- include('../partials/adminHead'); -%>
<body>
<%- include('../partials/adminLoader'); -%>
 <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <%- include('../partials/adminNav'); -%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <%- include('../partials/adminSidebar'); -%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Create a new collection here</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Create Collection</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="/admin/newcategory" method="post">
                                    <div class="form-group">
                                        <h2>Create a new Collection</h2>
                                        <label for="exampleInputEmail1">Collection Name</label>
                                        <input type="text" class="form-control"  name="name" placeholder="Enter name">
                                        <small  class="form-text text-muted">What's the name of this Collection.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Collection Cover image</label>
                                        <input type="text" class="form-control"  name="categoryImage" placeholder="Enter link for cover Image">
                                        <small  class="form-text text-muted">Cover Image for this collection.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Collection Decription</label>
                                        <input type="text" class="form-control"  name="description" placeholder="Enter short decription of the collection">
                                        <small  class="form-text text-muted">Short Description of the collection.</small>
                                    </div>
                                   
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">All Collections</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Title</th>
                                                <th>date</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <% categories.forEach((category,index) => { %>
                                            <tr>
                                                <td> <%= index + 1  %></td>
                                                <td><%= category.name %></td>
                                                <td><%= moment(category.createdAt).format('DD-MMMM-YYYY') %></td>
                                                <td><span class="label label-warning"><a href="/admin/category/edit/<%=category._id %>">Edit</a></span> </td>
                                                <td><span class="label label-danger"><a href="/admin/category/delete/<%=category._id %>">Delete</a></span> </td>
                                            </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <%- include('../partials/adminScripts'); -%>
    <script src="https://cdn.tiny.cloud/1/8d70t180vjz98lqcpzn1p79fydbhgghd89rby8ela9cd6ts0/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</body>
</html>