<!DOCTYPE html>
<html lang="en">
<%- include('../partials/adminHead'); -%>
<body>
<%- include('../partials/adminLoader'); -%>
 <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <%- include('../partials/adminNav'); -%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <%- include('../partials/adminSidebar'); -%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Blank Page</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Create Post</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="/admin/category/edit/<%=category._id %>?_method=PATCH" method="post">
                                    <div class="form-group">
                                        <h2>Update  Category</h2>
                                        <label for="exampleInputEmail1">Category Name</label>
                                        <input type="text" class="form-control"  name="name" placeholder="Enter name" value="<%=category.name %>">
                                        <small  class="form-text text-muted">What's the name of this Category.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Category Cover image</label>
                                        <input type="text" class="form-control"  name="categoryImage" placeholder="Enter link for cover Image" value="<%=category.categoryImage %>">
                                        <small  class="form-text text-muted">Cover Image for this category.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Category Decription</label>
                                        <input type="text" class="form-control"  name="description" placeholder="Enter short decription of the category" value="<%=category.categoryDescription %>">
                                        <small  class="form-text text-muted">Short Description of the category.</small>
                                    </div>
                                   
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <%- include('../partials/adminScripts'); -%>
    <script src="https://cdn.tiny.cloud/1/8d70t180vjz98lqcpzn1p79fydbhgghd89rby8ela9cd6ts0/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</body>
</html>