<!DOCTYPE html>
<html lang="en">
<%- include('../partials/adminHead'); -%>
<body>
<%- include('../partials/adminLoader'); -%>
 <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <%- include('../partials/adminNav'); -%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <%- include('../partials/adminSidebar'); -%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Add new Image to Gallery</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Add Image to Gallery</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="/admin/newgalleryimage" method="POST">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Image Title</label>
                                        <input type="text" class="form-control"  name="title" placeholder="Enter Title">
                                        <small  class="form-text text-muted">What's the title of this Image.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Cover Image</label>
                                        <input type="text" class="form-control"  name="coverImage" placeholder="Please Enter the link to the cover image">
                                        <small  class="form-text text-muted">Enter cloudinary link to the cover image.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Text</label>
                                        <input type="text" class="form-control"  name="text" placeholder="Please Enter any short comments or description you want to add to the image">
                                        <small  class="form-text text-muted">Enter any text, comment or description.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Tags</label>
                                        <input type="text" class="form-control"  name="tag" placeholder="Please Enter Tags you want to add to the image">
                                        <small  class="form-text text-muted">Enter tags to be associated with image seprated by a comma eg: weddings, cake, bouquet</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="category">Category</label>
                                        <select name="category" id="">
                                            <% categories.forEach((category,index) => { %>
                                                <option value="<%=category._id%>"> <%=category.name %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <%- include('../partials/adminScripts'); -%>
    <script src="https://cdn.tiny.cloud/1/8d70t180vjz98lqcpzn1p79fydbhgghd89rby8ela9cd6ts0/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</body>
</html>