<!DOCTYPE html>
<html lang="zxx">
<%- include('partials/head'); -%>
<body>
<%- include('partials/preloader'); -%>

<%- include('partials/navbar'); -%>

<!-- page-title -->
<section class="section bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4><%= post.title %></h4>
      </div>
    </div>
  </div>
</section>
<!-- /page-title -->

<!-- blog single -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="list-inline d-flex justify-content-between py-3">
          <li class="list-inline-item"><i class="ti-user mr-2"></i>Post by <%=author%></li>
          <li class="list-inline-item"><i class="ti-calendar mr-2"></i><%=moment(post.createdAt).format('DD-MMMM-YYYY') %></li>
        </ul>
        <div class="content">
        <div class="view">
         <%- post.post %>       
        </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="widget search-box">
          <i class="ti-search"></i>
          <input type="search" id="search-post" class="form-control border-0 pl-5" name="search-post"
            placeholder="Search">
        </div>
        <div class="widget">
          <h6 class="mb-4">LATEST POSTS</h6>
          <% latestPosts.forEach((post) => { %> 
          <div class="media mb-4">
            <div class="post-thumb-sm mr-3">
              <img class="img-fluid" src="/images/masonary-post/post-1.jpg" alt="post-thumb">
            </div>
            <div class="media-body">
              <ul class="list-inline d-flex justify-content-between mb-2">
                <li class="list-inline-item">Post By <%=author %></li>
                <li class="list-inline-item"></li>
              </ul>
              <h6><a class="text-dark" href="/post/<%=post.slug%>"><%= post.title %></a></h6>
            </div>
          </div>
         
        <% }) %>
      
       
      </div>
    </div>
  </div>
</section>
<!-- /blog single -->

<%- include('partials/footer'); -%>

<%- include('partials/scripts'); -%>

</body>
</html>