<!DOCTYPE html>
 <%- include('partials/galleryHead'); -%>
<body>

<main class="" id="main-collapse">
 <%- include('partials/galleryNav'); -%>
<!-- Add your site or app content here -->
 
<div class="hero-full-wrapper">
  <div class="grid">
  <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    <% images.forEach(image => { %>
      <div class="grid-item">
        <img class="img-responsive" alt="" src="<%= image.image %>">
        <a href="/gallery/image/<%=image._id %>" class="project-description">
          <div class="project-text-holder">
            <div class="project-text-inner">
              <h3><%=image.title %></h3>
              <p>Discover more</p>
            </div>
          </div>
        </a>
      </div>
      <% }) %>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     masonryBuild();
  });
</script>

</main>
 <%- include('partials/galleryScripts'); -%>
</body>
</html>