<!DOCTYPE html>
<html lang="en">
 <%- include('partials/galleryHead'); -%>
<body>
<%- include('partials/galleryNav'); -%>
<main class="" id="main-collapse">


<div class="row">
  <div class="col-xs-12 section-container-spacer">
    <h1>Categories</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
  </div>

  <% categories.forEach(category=> { %>
  <div class="col-xs-12 col-md-4 section-container-spacer">
    <img class="img-responsive" alt="" src="<%=category.categoryImage %>">
    <h2><%=category.name %></h2>
    <p><%=category.categoryDescription %></p>
    <a href="/gallery/category/<%=category._id%>/images" class="btn btn-primary" title=""> See More</a>
  </div>
  <% }) %>

</div>


</main>
<%- include('partials/galleryScripts'); -%>
</body>
</html>